@model Polizia_Municipale_CRM.Models.Gestionale

@{
    ViewBag.Title = "CreateViolation";
}

<div class="container mt-3">
    <h2>Inserimento nuovi codici violazioni</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Importo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImportoCollapse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Importo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mt-3">
                    <input type="submit" value="Inserisci" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Torna alla lista Violazioni", "Violazioni")
    </div>
</div>