@model IEnumerable<Polizia_Municipale_CRM.Models.Gestionale>

@{
    ViewBag.Title = "Violazioni";
}

<div class="container mt-3">
    <h2>Violazioni</h2>

    <button class="btn btn-outline-primary" onclick="location.href='CreateViolation'">
        <i class="bi bi-node-plus-fill"> </i>Inserisci nuova violazione

    </button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDViolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportoCollapse)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDViolazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo)
                </td>
            </tr>
        }

    </table>
</div>